# Avocado Data Analysis Notebook
ALT-TAB LABS LLP &copy; 2020 All Rights Reserved

In [6]:
# load csvs
import pandas as pd
df = pd.read_csv('avocado-train.csv', index_col='id')

In [9]:
# View the data!
df.head()
#TODO TODO TODO TODO TODO TODO TODO TODO

,DataBatch,Date,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region,AveragePrice
id,,,,,,,,,,,,,
0,7,2016-11-06,183542.31,98949.98,22891.61,95.00,61605.72,43571.99,17499.01,534.72,conventional,NewOrleansMobile,1.49
1,24,2017-07-16,224434.92,42951.31,120360.02,131.85,60991.74,53141.81,3621.04,4228.89,conventional,HarrisburgScranton,1.38
2,51,2015-01-04,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00,organic,Atlanta,1.76
3,22,2015-07-26,91825.07,1679.28,45615.48,741.77,43788.54,43788.54,0.00,0.00,conventional,BuffaloRochester,1.39
4,50,2015-01-11,54644.32,1491.88,33759.12,1325.17,18068.15,12165.94,5902.21,0.00,conventional,Pittsburgh,1.54

In [8]:
# Clean Data

# Drops missing values 
df.dropna()

# Convert strings to numbers
#TODO TODO TODO TODO TODO TODO TODO TODO

# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

,DataBatch,Date,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region,AveragePrice
id,,,,,,,,,,,,,
0,7,2016-11-06,183542.31,98949.98,22891.61,95.00,61605.72,43571.99,17499.01,534.72,conventional,NewOrleansMobile,1.49
1,24,2017-07-16,224434.92,42951.31,120360.02,131.85,60991.74,53141.81,3621.04,4228.89,conventional,HarrisburgScranton,1.38
2,51,2015-01-04,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00,organic,Atlanta,1.76
3,22,2015-07-26,91825.07,1679.28,45615.48,741.77,43788.54,43788.54,0.00,0.00,conventional,BuffaloRochester,1.39
4,50,2015-01-11,54644.32,1491.88,33759.12,1325.17,18068.15,12165.94,5902.21,0.00,conventional,Pittsburgh,1.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12769,31,2016-05-22,3894.15,81.14,3124.78,0.00,688.23,0.00,688.23,0.00,organic,Spokane,1.49
12770,15,2017-09-17,192447.11,56017.67,64593.12,5176.80,66659.52,62156.95,4502.57,0.00,conventional,Charlotte,1.61
12771,10,2015-10-18,73799.28,15960.20,48820.15,3.09,9015.84,7988.73,1027.11,0.00,organic,California,2.01
12772,28,2015-06-14,277578.88,42766.16,140403.76,2028.31,92380.65,87952.58,2821.41,1606.66,conventional,HarrisburgScranton,1.13
12773,51,2016-01-03,203961.88,42856.88,87749.01,31682.42,41673.57,38144.36,3529.21,0.00,conventional,Charlotte,0.96

In [ ]:
# Select data for learning
features = [] #TODO TODO TODO TODO TODO TODO TODO TODO

X = None #TODO TODO TODO TODO TODO TODO TODO TODO
y = None #TODO TODO TODO TODO TODO TODO TODO TODO

In [ ]:
X.head()
#y.head()

# Regression Time!

In [ ]:
# Sci Kit Learn! Scientific Computing library for python
from sklearn import *

In [ ]:
# Pick the regression model we want to use

# Decision Tree Regression
# https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html
# model = tree.DecisionTreeRegressor(random_state=2020)

# Random Forest Regression
# https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html
# model = ensemble.RandomForestRegressor(random_state=2020, n_estimators=100)

In [ ]:
# Split training into some for training and some for testing
# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

#TODO TODO TODO TODO TODO TODO TODO TODO

print("training split: ", len(Xtrain), "; test split: ", len(Xtest))

In [ ]:
# Perform regression on the data
model.fit(Xtrain, ytrain) #TODO TODO TODO TODO TODO TODO TODO TODO

In [ ]:
# Score model
model.score(Xtest, ytest) #TODO TODO TODO TODO TODO TODO TODO TODO

# Predict for Testing data

In [ ]:
# Clean Data

# Drops missing values 
#TODO TODO TODO TODO TODO TODO TODO TODO

# Convert strings to numbers
#TODO TODO TODO TODO TODO TODO TODO TODO

# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [ ]:
# Select features
XforPredictions = None #TODO TODO TODO TODO TODO TODO TODO TODO
XforPredictions.head()

In [ ]:
# Make Predictions!
yPredictions = None #TODO TODO TODO TODO TODO TODO TODO TODO
print("Predictions:", yPredictions)

In [ ]:
# Save to CSV File!
output = pd.DataFrame({'id': XforPredictions.index, 'AveragePrice': yPredictions})
output.to_csv('avocado-submission.csv', index=False)
print(output)

# Upload for grading

In [ ]:
# Download CTFSG Grader Libraries
import urllib.request, os
urllib.request.urlretrieve('https://raw.githubusercontent.com/alttablabs/ctfsg-utils/master/pyctfsglib.py', './pyctfsglib.py')
print('Downloaded pyctfsglib.py:', 'pyctfsglib.py' in os.listdir())

In [ ]:
# Connect to graders
import pyctfsglib as ctfsg
import random

USER_TOKEN = "BLnMfacYpsCWrIDWMDNlysDhKMpumnYoldUyhyKlCcJLfeiyeKEvhzxuivdCMwky" # You need to fill this up
GRADER_URL = random.choice([ # Check if these are correct GRADER URLS for the specific challenge
    "http://3qo9k5hk5cprtqvnlkvotlnj9d14b7mt.ctf.sg:60010/",
    "http://3qo9k5hk5cprtqvnlkvotlnj9d14b7mt.ctf.sg:60011/"
])

grader = ctfsg.DSGraderClient(GRADER_URL, USER_TOKEN)

In [ ]:
grader.submitFile('avocado-submission.csv')